.error-msg{
  color: red;
  text-align: center;
  font-size: 18px;
}
.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit;/*高度包裹内容,防止底部将整个页面包裹*/
}
.sticky-header{  /*使标题始终在顶部*/
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}